$contentBackground: #efefef;
$colorTextSection: #fc5830;
$colorTextSectionContent: #757575;

$articleColor: #ffffff;
$articleColorH3: #617d8a;
$articleColorP: #757575;

$colorBtn: #fc5830;
$colorBtnHover: #fb6b48;

$colorDescription: #bdbdbd;
$colorDescriptionBorder: #cfd8dc;

$inputColorBorder: #cfd8dc;
$inputColorBackground: #efefef;

$textSite: "Times New Roman";
$textSiteForm: sans-serif;