$contentBackground: #fff;
$colorTextSection: #1fbcd3;
$colorTextSectionContent: #617d8a;

$articleColor: #efefef;
$articleColorH3: #1697a6;
$articleColorP: #617d8a;

$colorBtn: #1fbcd3;
$colorBtnHover: #1fcae3;

$colorDescription: #159587;
$colorDescriptionBorder: #617d8a;

$inputColorBorder: #617d8a;
$inputColorBackground: #fff;

$textSite: sans-serif;
$textSiteForm: sans-serif;

